body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
article {
    color: #5C373C;
    margin: 10px;
}
footer {
    font-size: x-small;
    font-style: italic;
    background-color: #C14860;
    padding: 10px;
}
header {
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background: linear-gradient(#051118, #5C373C);
    color: #CAA893;
    border: thin #CAA893 inset;
    margin-top: 100px;
    margin-bottom:  30px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 18px 20px;
}